/* New York Times-style CSS */
/* General styles */
body {
  font-family: "Georgia", serif;
  font-size: 16px;
  line-height: 1.5;
  color: #d35c5c;
  margin: 0;
  padding: 0;
}
/* Header styles */
header {
  background-color: black;
  border-bottom: 1px solid #ccc;
}
footer {
  background-color: #F1F1F1;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  margin-top: 30px;
}
